:root {
  background-color: #FFFAEF;
  --font-family-base: 'Helvetica', sans-serif;
  
}

.callapi {
  color:#8B0000;
  font-size: 35px;
  text-align: center;
  position: relative;
  font-family: 'Helvetica', sans-serif;
  top: 85px;
}

.album-cover {
  position: relative;
  top:95px;
  width: 250px;
  height: 250px;
  display: block;
  margin: 20pt;
  position: center;
  margin-left: 500px;
  
}

.artist {
  color:#8B0000;
  font-size: 35px;
  text-align: center;
  position: relative;
  font-family: 'Helvetica', sans-serif;
  top: 80px;
}


.tracklist {
  color: black;
  font-size: 20px;
  text-align: right;
  position: absolute;
  font-family: 'Helvetica', sans-serif;
  overflow-y: auto;
  top: 20px;
  padding-left: 63%;
}

.track {
  font-size: 20px;
  margin: 5px;
}

.button {
    background-color: #8B0000;
    border: #FFFAEF; 
    color: #FFFAEF;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    position: absolute;
    top: 550px;
    left: 46.5%;
    border-radius: 13px;
    font-family: 'Helvetica', sans-serif;
}

.h1 {
  text-align: center;
  position: center;
  margin-top: -5px;
  font-family: 'Helvetica', sans-serif;
  font-size: 50px;
  color: #8B0000;
}

.h2 {
  text-align: left;
  position: relative;
  margin-top: -110px;
  font-family: 'Helvetica', sans-serif;
  font-size: 25px;
  color: #8B0000;
  margin-left: -3px;
}

.genre {
  text-align: left;
  position: absolute;
  color: #8B0000;
  font-size: 30px;
  top: 100px;
  position: absolute;
  margin-left: 41%;
}

.line {
  border-left: 1px solid #8B0000;
  height: 100vh;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  top: 0;
}